#quizPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
}

#quizBox {
  width: 100%;
  height: 60%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}

.question {
  margin-bottom: 15px;
}

.option {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.option input {
  margin-right: 8px;
}

.result {
  margin-top: 10px;
  font-weight: bold;
}

.result.correct {
  color: lightgreen;
}

.result.wrong {
  color: red;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #38bdf8;
  font-weight: bold;
}

button:hover {
  background-color: #0ea5e9;
}